// Цвета
$bg-light: #f4f4f4;
$bg-darking-light: #e7e7e7;
$bg-dark: #1f1f1f;
$bg-lighting-dark: #333333;
$text-light: #fff;
$text-dark: #333;
$btn-color: #3498db;
$btn-hover: #256896;

// Размеры
$border-radius: 15px;
$padding: 10px 20px;

// Шрифты
$font-main: 'Arial', sans-serif;
$font-title: 'Georgia', sans-serif;
$font-size-larger: 40px;
$font-size-smaller: 18px;

// Input Placeholder
$input-placeholder-color: #333;
$input-placeholder-focus: #4CAF50;

// Кнопка переключения ночного режима
$nmode-bg: #4e4e4e;
$nmode-padding: 1.5rem;
$nmode-radius: 8px;
$nmode-shadow: 0 4px 8px grey;
$nmode-font-size: 30px;